.router-config {
	text-align: center;
	align: center;
}

.router-config .gwt-Button {
	width: 6em;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #E2EAF5;
	cursor: pointer;
    cursor: hand;
}

.router-config .table {
	margin-top: 1cm;
	border: 1px solid #999;
	background-color: white;
	border-collapse: collapse;
}

.router-config .table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:3px;
}

.router-config .table .head {
	background: #F4F7FB;
	font-weight: bold;
}

.router-config .operator-table {
	margin-top: 1cm;
}

.router-config .checkbox-table {
	margin-top: 1cm;
	border: 1px solid #999;
	border-collapse: collapse;
}

.router-config .checkbox-table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:4px;
}

.router-config .gwt-CheckBox {
}


.router-config .sys-introH {
  font-size: 22pt;
  font-weight: bold;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  text-align: center;
}

.router-config .sys-intro {
  font-size: 18pt;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
}

.router-config .images-table {
	text-align: right;
}

.router-config .info-table {
	font-size: 10px;
	border:1px solid #999;
}

