.router-config {
	text-align: center;
	vertical-align: middle;
	align: center;
}

.router-config .table-title {
	text-indent: 1em;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: larger;
	font-weight: bold;
	border:1px solid #2a8ebf;
	text-align: left;
	background: url(images/system_blue_gradient.gif) repeat-x top left;
}

.router-config Button {
	width: 6em;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #E2EAF5;
	cursor: pointer;
    cursor: hand;
}

.router-config .table {
	border: 1px solid #999;
	background-color: white;
	border-collapse: collapse;
}

.router-config .table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:3px;
}

.router-config .table .head {
	background: #F4F7FB;
	font-weight: bold;
}

.router-config CheckBox {
	background-color: blue;
}


.sys-introH {
  font-size: 22pt;
  font-weight: bold;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  text-align: center;
}

.sys-intro {
  font-size: 18pt;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
}
