
.sys-introH {
  font-size: 22pt;
  font-weight: bold;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  text-align: center;
}

.sys-intro {
  font-size: 18pt;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
}