
.risefront {
	background: #cacedf;
	text-align: center;
	cellspacing: 0px;
	cellpading: 0px;
}

.risefront .table {
	border: solid white;
	border-width: 0px;
	border-spacing: 0px 0px;
}

.risefront td {
	border: solid white;
	border-width: 0px;
	border-spacing: 0px 0px;
}

.risefront .d3view {
	background: #6a8ebf;
}

.risefront .d3view td {
	border: solid white;
	border-width: 1px;
}

.risefront .HID .gwt-Button {
	width: 6em;
}


.risefront .d3view .KekesComposite td {
	border: solid yellow;
	border-width: 0px;
}

.risefront .d3view .KekesComposite .hilight {
	background: #9abeff;
}

.risefront .d3view .KekesComposite .KekeComposite td {
	border: solid white;
	border-width: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
}

.risefront .d3view .KekesComposite .KekeComposite td.topleft {
	background: #9abedf;
	width: 3px;
	height: 3px;
	border-width: 0px;
}

.risefront .d3view .KekesComposite .KekeComposite td.topmiddler {
	background: #9abedf;
	height: 3px;
	border-width: 0px;
}

.risefront .d3view .KekesComposite .KekeComposite td.topright {
	background: #9abedf;
	width: 3px;
	height: 3px;
	border-width: 0px;
}


.risefront .d3view .KekesComposite .KekeComposite td.midleft {
	background: #9abedf;
	width: 3px;
	border-width: 0px;
}

.risefront .d3view .KekesComposite .KekeComposite td.midmiddler {
}

.risefront .d3view .KekesComposite .KekeComposite td.midright {
	background: #9abedf;
	width: 3px;
	border-width: 0px;
}


.risefront .d3view .KekesComposite .KekeComposite td.bottomleft {
	background: #9abedf;
	width: 3px;
	height: 3px;
	border-width: 0px;
}

.risefront .d3view .KekesComposite .KekeComposite td.bottommiddler {
	background: #9abedf;
	height: 3px;
	border-width: 0px;
}

.risefront .d3view .KekesComposite .KekeComposite td.bottomright {
	background: #9abedf;
	width: 3px;
	height: 3px;
	border-width: 0px;
}

