<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>cameraServlet</servlet-name>
    <servlet-class>com.risetek.scada.server.cameraQueryServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>takeServlet</servlet-name>
    <servlet-class>com.risetek.scada.server.cameraPostServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>gpsServlet</servlet-name>
    <servlet-class>com.risetek.scada.server.gpsQueryServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cameraServlet</servlet-name>
    <url-pattern>/scada/camera</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>takeServlet</servlet-name>
    <url-pattern>/scada/take</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gpsServlet</servlet-name>
    <url-pattern>/scada/getGPS</url-pattern>
  </servlet-mapping>

</web-app>
