<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>iconsServlet</servlet-name>
    <servlet-class>com.risetek.icons.server.IconsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>iconsServlet</servlet-name>
    <url-pattern>/icons/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>iconsListServlet</servlet-name>
    <servlet-class>com.risetek.icons.server.IconListServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>iconsListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>iconsScriptServlet</servlet-name>
    <servlet-class>com.risetek.icons.server.IconScriptServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>iconsScriptServlet</servlet-name>
    <url-pattern>/oldcrossdomain</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>iconsRESTServlet</servlet-name>
    <servlet-class>com.risetek.icons.server.RESTfulIconServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>iconsRESTServlet</servlet-name>
    <url-pattern>/crossdomain</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
