<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>RemoteServiceServlet</servlet-name>
    <servlet-class>com.risetek.keke.server.RemoteServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RemoteServiceServlet</servlet-name>
    <url-pattern>/risetek_keke/ePayRemoteService</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.risetek.keke.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/risetek_keke/login</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Risetek_keke.html</welcome-file>
  </welcome-file-list>

</web-app>
