.rismiletable .table td.logid {
	width: 6em;
	text-align: right;
}

/* 怎么设定它为不卷绕的呢？ nowrap. */
.rismiletable .table td.record {
	text-align: left;
	border-width:1px 0px 0px 0px;
}

.rismiletable .table td.datetime {
	width: 12em;
}
