.rismiletable .table td.logid {
	width: 6em;
	text-align: right;
}

.rismiletable .table td.record {
	text-align: left;
	border-width:1px 0px 0px 0px;
	white-space: nowrap;
}

.rismiletable .table td.datetime {
	width: 12em;
}
