.radius-conf-table {
	margin-top: 1cm;
	margin-bottom: 5mm;
	background-color: white;
	cellspacing:2px;
	cellpading:2px;
	border-collapse: collapse;
	border:1px solid #999;
}
.radius-conf-table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding-top:4px;
	padding-left: 3px;
    padding-bottom: 2px;
	vertical-align: middle;
}
.radius-conf-Button {
	height: 25px;
	width: 4em;
	margin-top: 1cm;
	margin-bottom: 5mm;
	padding-top:1px;
	background-color: #E2EAF5;
	border-top: #FFFFFF 1px solid;
	border-right: #797979 2px solid;
	border-bottom: #797979 2px solid;
	border-left: #FFFFFF 1px solid;
	cursor: pointer;
    cursor: hand;
}
.radius-conf-version{
	margin-top: 5mm;
	margin-bottom: 1mm;
}
.radius-table-title {
	text-indent: 1em;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: larger;
	font-weight: bold;
	border:1px solid #2a8ebf;
	background: url(images/radius_blue_gradient.gif) repeat-x top left;
	/*background-color: #7EACD6;*/
}

.radius-info-Label {
	color: crimson;
}


.sys-introH {
  font-size: 22pt;
  font-weight: bold;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
  text-align: center;
}

.sys-intro {
  font-size: 18pt;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 3px;
}

.rismiletable .table td.operator {
	width: 1em;
}

.rismiletable .table td.imsi {
	width: 8em;
}

.rismiletable .table td.username {
	width: 15em;
}

.rismiletable .table td.name {
	width: 10em;
}

.rismiletable .table td.desc {
	width: 20em;
}

.rismiletable .table td.sched {
	width: 20em;
}

