.rismiletable {
	width: 100%;
	border: 1px solid #ACA899;
}


.rismiletable .navbar {
	padding-top: 4px;
	padding-bottom: 4px;
	border:1px solid #2a8ebf;
	width: 100%;
	vertical-align: middle;
	background: url(images/system_blue_gradient.gif) repeat-x top left;
}

.rismiletable .navbar .toolbutton {
	width: 6em;
	text-align: center;
	vertical-align: middle;
	background-color: #E0E0FF;
  	cursor: pointer;
  	cursor: hand;
}

.rismiletable .navbar .dirbutton {
	font-weight: bold;
	width: 4em;
	cursor: pointer;
    cursor: hand;
	background-color: #E0E0FF;
}

.rismiletable .navbar .NavLabel {
	padding-top: 3px;
	text-align: right;
	font-size:	16px;
	font-weight: bold;
	width: 4em;
	vertical-align: bottom;
}

.rismiletable .navbar .status {
	vertical-align: middle;
	padding-right: 10px;
}

.rismiletable .navbar .info-Label {
	color: crimson;
}

.rismiletable .table {
	margin-top: 10px;
	cellspacing:1px;
	font-size: 11pt;
	width: 100%;
	align: center;
	vertical-align: bottom;
	white-space: nowrap;
}

.rismiletable .table td {
	text-align: center;
	margin:1px;
	pading:0;
	white-space: nowrap;
}

.rismiletable .table td.header {
	font-weight: bold;
	text-decoration: underline;
	font-size: 13pt;
	text-align: center;
}

.rismiletable .table tr.normal {
}

.rismiletable .table tr.light {
	background-color:#CCCCFC;
}

