
.sys-date-table {
	margin-left: 5mm;
	margin-top: 1cm;
	margin-bottom: 2mm;
}
.sys-status-table {
	cellspacing:2px;
	cellpading:2px;
	margin-top: 1mm;
	margin-bottom: 5mm;
	margin-left: 5mm;
	border: 1px solid #999;
	background-color: white;
	border-collapse: collapse;
}
.sys-status-table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:3px;
}

.sys-status-table-head {
	background: #F4F7FB;
}
.sys-grid1-table {
	cellspacing:2px;
	cellpading:2px;
	margin-top: 1mm;
	margin-bottom: 1mm;
	margin-left: 3mm;
}
.sys-grid2-table {
	cellspacing:2px;
	cellpading:2px;
	margin-bottom: 5mm;
	margin-left: 5mm;
	border: 1px solid #999;
	background-color: white;
	border-collapse: collapse;
}
.sys-grid2-table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:3px;
}
.sys-admin-note {
	margin-top: 4mm;
}
.sys-big-button {
	height: 25px;
	width: 7em;
	margin-top: 1cm;
	margin-bottom: 3mm;
	margin-left: 5mm;
	background-color: #E2EAF5;
	border-top: #FFFFFF 1px solid;
	border-right: #797979 2px solid;
	border-bottom: #797979 2px solid;
	border-left: #FFFFFF 1px solid;
	cursor: pointer;
    cursor: hand;
}
.sys-button {
    height: 25px;
	width: 4em;
	margin-top: 1mm;
	margin-bottom: 1mm;
	padding-top:3px;
	background-color: #E2EAF5;
	border-top: #FFFFFF 1px solid;
	border-right: #797979 2px solid;
	border-bottom: #797979 2px solid;
	border-left: #FFFFFF 1px solid;
	cursor: pointer;
    cursor: hand;
}
.sys-stack-panel {

  background: #E8EEF7;
  border-bottom: 1px solid #2a8ebf;
  border-right: 1px solid #2a8ebf;
  border-left: 1px solid #2a8ebf;
}

.sys-stack-panel .gwt-StackPanelItem {
  background: url(images/system_blue_gradient.gif) repeat-x top left;
  cursor: pointer;
  cursor: hand;
}

.sys-stack-panel .gwt-StackPanelItem-selected {
  border-bottom: 1px solid #2a8ebf;
}
.stack-caption {

  text-indent: 1em;
	padding-bottom: 4px;
	font-size: larger;
	font-weight: bold;
}
.sys-stack-panel .gwt-StackPanelItem   .stack-figure {
  background: url(images/system_plus.gif) no-repeat 0 50%;
}
.sys-stack-panel .gwt-StackPanelItem-selected  .stack-figure {
  background: url(images/system_minus.gif) no-repeat 0 50%;
}
.sys-stack-panel .lcaption {
  width: 1px;
}

.sys-stack-panel .rcaption {

} 

.sys-stack-panel .box-20 {
  text-align: right;
}

.box-00, .box-20 {
  width: 4px;
  background-color: #b6edbc;
}

.is-top .box-00, .is-top .box-20,
.is-beneath-selected .box-00, .is-beneath-selected .box-20 {
  background-color: #fff;
}

.box-10 {
  font-size: 2px;
  border-top: 1px solid #2a8ebf;
  /*background-color: #b7cdec;*/
  background: url(images/system_blue_bg.PNG) repeat-x top left
}
/* CSS3 hack to target Opera8+ */
@media all and (min-width: 0px) {
    body .box-10 { line-height: 0px; }
}

.box-01, .box-11, .box-21 {

  vertical-align: top;
}

.box-01, .box-00 {
  font-size: 2px;
  border-left: 1px solid #2a8ebf;
}

.box-21, .box-20 {
  font-size: 2px;
  border-right: 1px solid #2a8ebf;
}

.is-top .box-00, .is-top .box-20 {
  border-right: none;
  border-left: none;
}

.sys-stack-panel .gwt-StackPanelItem table {
  width: 100%;
}
.sys-info-Label {
	color: crimson;
}


.gwt-Button {
  background:#f5f5f5;
  border:1px solid #aaa;
  border-top:1px solid #ddd;
  border-left:1px solid #ddd;
  padding: 2px;
  width: 12em;
}

.gwt-Button:active {
  border:1px solid #aaa;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
}

.gwt-Button[disabled] {
  background: #ccc;
  border:1px solid #999;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  color: #888;
}





