.rismile-system {
	cellspacing:0px;
	cellpading:0px;
	background: #E8EEF7;
}

.rismile-system .stack-panel {
  background: #E8EEF7;
  border-bottom: 1px solid #2a8ebf;
  border-right: 1px solid #2a8ebf;
  border-left: 1px solid #2a8ebf;
}

.rismile-system .status-table {
	cellspacing:2px;
	cellpading:2px;
	margin-top: 1mm;
	margin-bottom: 5mm;
	margin-left: 5mm;
	border: 1px solid #999;
	background-color: white;
	border-collapse: collapse;
}

.rismile-system .status-table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:3px;
}

.rismile-system .status-table .head {
	background: #F4F7FB;
}

.rismile-system .date-table {
	margin-left: 5mm;
	margin-top: 1cm;
	margin-bottom: 2mm;
}

.rismile-system .grid1-table {
	vertical-align: middle;
	text-align: center;
}

.rismile-system .grid2-table {
	cellspacing:2px;
	cellpading:2px;
	margin-bottom: 5mm;
	margin-left: 5mm;
	border: 1px solid #999;
	background-color: white;
	border-collapse: collapse;
	vertical-align: middle;
}
.rismile-system .grid2-table td {
	border:solid #999;
	border-width:1px 1px 1px 1px;
	padding:3px;
	vertical-align: middle;
	text-align: center;
}

.rismile-system .big-button {
	height: 25px;
	width: 9em;
	margin-top: 1cm;
	margin-bottom: 3mm;
	margin-left: 5mm;
	background-color: #E2EAF5;
	border-top: #FFFFFF 1px solid;
	border-right: #797979 2px solid;
	border-bottom: #797979 2px solid;
	border-left: #FFFFFF 1px solid;
	cursor: pointer;
    cursor: hand;
}
.rismile-system .sys-button {
    height: 25px;
	margin-top: 1mm;
	margin-bottom: 1mm;
	padding-top:3px;
	background-color: #E2EAF5;
	border-top: #FFFFFF 1px solid;
	border-right: #797979 2px solid;
	border-bottom: #797979 2px solid;
	border-left: #FFFFFF 1px solid;
	cursor: pointer;
    cursor: hand;
}

.rismile-system .info-Label {
	color: crimson;
}

.rismile-system .stack-panel {

  background: #E8EEF7;
  border-bottom: 1px solid #2a8ebf;
  border-right: 1px solid #2a8ebf;
  border-left: 1px solid #2a8ebf;
}

.rismile-system .stack-panel .gwt-StackPanelItem {
  background: url(images/system_blue_gradient.gif) repeat-x top left;
  cursor: pointer;
  cursor: hand;
}

.rismile-system .stack-panel .gwt-StackPanelItem-selected {
  border-bottom: 1px solid #2a8ebf;
}
.rismile-system .stack-panel .gwt-StackPanelItem .stack-figure {
  background: url(images/system_plus.gif) no-repeat 0 50%;
}
.rismile-system .stack-panel .gwt-StackPanelItem-selected  .stack-figure {
  background: url(images/system_minus.gif) no-repeat 0 50%;
}
.rismile-system .stack-panel .lcaption {
  width: 1px;
}

.rismile-system .stack-panel .rcaption {

} 

.rismile-system .stack-panel .box-20 {
  text-align: right;
}

.rismile-system .stack-panel .gwt-StackPanelItem table {
  width: 100%;
}

.stack-caption {

  text-indent: 1em;
	padding-bottom: 4px;
	font-size: larger;
	font-weight: bold;
}

.box-10 {
  font-size: 2px;
  border-top: 1px solid #2a8ebf;
  /*background-color: #b7cdec;*/
  background: url(images/system_blue_bg.PNG) repeat-x top left
}

.box-11 {
  vertical-align: top;
}



