<?xml version="1.0" encoding="GB2312"?>
<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>HeartbeatServlet</servlet-name>
    <servlet-class>com.risetek.rismile.server.HeartbeatServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HeartbeatServlet</servlet-name>
    <url-pattern>/rismile/forms/hb</url-pattern>
  </servlet-mapping>
</web-app>
